*{
  padding: 0;
  margin: 0;
}

header, section, footer{
  display: block;
}

header >h1{
  text-align: center;
}

.footer {
  padding: 4em;
  color: #868589;
  background-color: #444242;
  height: 25vh;
}

.no-link:a {
  color: black;
}

