.footer {
    padding: 4em;
    color: #868589;
    background-color: #444242;
    height: 25vh;
  }
.no-link:a {
    color: black;
  }

.nav{
    display: inline-block !important;
}

.form-carga-noticias {
  
  color: aliceblue; 
}
.form-carga-noticias button{
  float: right;
  margin: 1em;
  color: aliceblue; 
}

.card-noticia{
  border-radius: 0px;
  box-shadow: grey;
  padding: 1rem;
  border-style: solid none none none;
}
.card-noticia img{
  border-radius: 0.5rem;
  box-shadow: grey;
  
}
.card-noticia p{
  color: #4e4e4e;
  font-size: x-large;
}
.card-noticia label{
  color: #4e4e4e;
  font-weight: 600;
  font-size: smaller;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}