*{
  padding: 0;
  margin: 0;
}

header, section, footer{
  display: block;
}

header >h1{
  text-align: center;
}

.footer {
  padding: 4em;
  color: #868589;
  background-color: #444242;
  height: 25vh;
}

.no-link:a {
  color: black !important;
  text-decoration: none ;
}
.no-link:hover {
  color: black;
  text-decoration: none ;
}

.no-link:visited {
  color: black !important;
  text-decoration: none ;
}

.nav{
    display: inline-block !important;
}

.form-carga-noticias {
  
  color: aliceblue; 
}
.form-carga-noticias button{
  float: right;
  margin: 1em;
  color: aliceblue; 
}

.card-noticia{
  border-radius: 0px;
  box-shadow: grey;
  padding: 1rem;
  border-style: solid none none none;
  background-color: #383737; 
  background-color: transparent !important;
}
.card-noticia img{
  border-radius: 0.5rem;
  box-shadow: grey;
  -webkit-box-shadow: 0px 15px 26px 7px rgba(0,0,0,0.75); /* box-shadow creado con cssmatic.com/box-shadow*/
  -moz-box-shadow: 0px 15px 26px 7px rgba(0,0,0,0.75);
  box-shadow: 0px 15px 26px 7px rgba(0,0,0,0.75);
  margin-bottom: 30px;
  width: 100%;
  height: auto;
}
.card-noticia p{
  color: #4e4e4e;
  font-size: x-large;
}
.card-noticia label{
  color: #4e4e4e;
  font-weight: 600;
  font-size: smaller;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.detalles-noticia h5{
  color: #7aadd3;
  
}
.detalles-noticia h6{
  color: whitesmoke;
  float: right;
}
.detalles-noticia p{
  color: #383737;
  font-weight: 500;
}

body{
  background-image: url("../background_3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
}



.middle{
  height: 100vh;
  display: flex;
  align-items: center;
}

i{
  margin: 0.25em;
  font-size: 1.5em !important; 
}
.lineanigga{
  color: black;
  text-decoration-color: black !important;
}
.limite{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blockquote-footer{
  color: black;
  
}